{
  "S3Region": "<AWS_REGION_HERE>",
  "S3Bucket": "<BUCKET_NAME_HERE>",
  "AccessKeyId": "<AWS_ACCESS_KEY_HERE>",
  "SecretAccessKey": "<AWS_SECRET_ACCESS_KEY_HERE>",
  "BackupDirs": [ "/home/home/Documents", "/home/homer/Downloads", "/home/homer/Pictures" ],
  "ACL": "private",
  "ContentDisposition": "attachment",
  "ServerSideEncryption": "AES256",
  "StorageClass": "STANDARD"
}


